.main-feature {
    position: relative;
    .feature-image {
        img {
            width: 100%;
        }
    }
    .feature-video {
        height: 70vh;
        overflow: hidden;
        .featured-video-element {
            width: 100%;
            height: 100%;
            mix-blend-mode: multiply;
            object-fit: cover;
            // background-image: url(img/back-video.png);
        }
    }
    .content-wrap {
        @include coverer;
        background-color: rgba($black,.6);
        display: flex;
        align-items: center;
        justify-content: center;
        .feature-content {
            @include xy-grid-container();
            color: $white;
            text-align: center;
            .year-container {
                display: flex;
                justify-content: center;
                align-items: center;
                .year {
                    font-size: rem-calc(180);
                    line-height: rem-calc(190);
                    font-weight: 700;
                }
                .title {
                    text-transform: uppercase;
                    font-size: 1.6rem;
                    text-align: left;
                }
            }
            .subtitle {
                display: inline-block;
                padding: 0 .5rem;
                text-transform: uppercase;
                text-align: center;
                font-size: 1.7rem;
                letter-spacing: 1.4rem;
                background-color: rgba($white,.4);
            }
            @include breakpoint(small only) {
                .year-container {
                    .year {
                        font-size: rem-calc(90);
                        line-height: rem-calc(100);
                    }
                    .title {
                        font-size: 1.4rem;
                        line-height: 1.4rem;
                    }
                }
                .subtitle {
                    font-size: 1.3rem;
                }
            }
        }
    }
    @include breakpoint(small only) {
        .feature-image {
            height: 35vh;
            overflow: hidden;
            img {
                width: 150%;
                max-width: 150%;
                margin-left: -50%;
            }
        }
    }
}
.entry-highlight {
    padding: 1.5rem;
    background-color: $light-gray;
    border-left: 10px solid $primary-color;
    .entry-button {
        text-align: right;
        text-transform: uppercase;
        display: flex;
        justify-content: flex-end;
        .button {
            display: flex;
            text-align: center;
            align-items: center;
        }
    }
    .content-extended {
        display: none;
    }
    &.has-extended-content {
        position: relative;
        padding-bottom: 2.5rem;
        .view-more-container {
            position: absolute;
            width: 90%;
            padding: .5rem;
            bottom: 0;
            border-top: 1px solid $medium-gray;
            text-align: center;
            .entry-more {
                display: block;
                text-align: center;
                text-transform: uppercase;
                font-size: .9rem;
                color: $black;
            }
        }
    }
}
.entry-impact {
    position: relative;
    padding: 1rem;
    border: 2px solid $light-gray;
    border-radius: .2rem;
    color: $white;
    background-color: $dark-gray;
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center center;
    @include shadow;
    .entry-title {
        width: 100%;
        font-size: rem-calc(30);
        font-weight: 700;
        text-align: center;
    }
    .number-container {
        padding: 2rem 0;
        text-align: center;
        font-family: $title-font-family;
        .number {
            display: block;
            font-size: rem-calc(61);
            line-height: 3rem;
            font-weight: 700;
        }
        .legend {
            display: block;
            text-transform: uppercase;
            font-size: rem-calc(27);
        }
    }
    .entry-description {
        padding: 0 .5rem;
    }
    &.horizontal {
        .entry-title {
            text-align: left;
        }
        .horizontal-container {
            display: flex;
            align-items: center;
            .number-container {
                .number {
                    margin-bottom: .5rem;
                }
                .legend {
                    line-height: 2rem;
                }
            }
            .entry-description {
                padding-left: 2rem;
            }
        }
    }
    &.vertical {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        .entry-description {
            text-align: center;
        }
    }
}
.entry-data {
    .entry-content {
        display: flex;
        align-items: center;
        .number-container {
            margin-bottom: 2rem;
            font-family: $title-font-family;
            text-align: center;
            .number {
                display: block;
                font-size: rem-calc(81);
                line-height: 5rem;
                font-weight: 700;
            }
            .legend {
                font-size: rem-calc(31);
                text-transform: uppercase;
            }
        }
        .entry-summary {
            padding-left: 2rem;
        }
    }
    .chart-embed {
        background-color: $white;
    }
}
.entry-platform {
    display: flex;
    padding: 1rem;
    margin-bottom: 1.5rem;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    background-color: $lighter-gray;
    text-align: center;
    border-radius: .2rem;
    @include shadow;
    .entry-logo {
        width: 100%;
        margin-bottom: 3rem;
    }
    .entry-summary {
        display: block;
        font-size: rem-calc(42);
        text-transform: uppercase;
        color: $dark-gray;
        font-family: $title-font-family;
        text-align: center;
    }
}

.section-container {
    margin-top: 4rem;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    .section-label {
        font-size: rem-calc(31);
        font-weight: 700;
        text-transform: uppercase;
    }
    &.background-gray-light {
        .section-label {
            display: inline-block;
            position: relative;
            padding: .2rem .8rem;
            top: -2.7rem;
            border-radius: .2rem;
            background-color: $lighter-gray;

        }
    }
}